body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#roomlist {
	width:250px;
	height:100px;	
}
#chatWindows{
	background:rgb(230,230,230);
	width:250px;
	height:300px;
	overflow-y:auto;
}
